# ANLISIS EXPLORATORIO DE LOS ARCHIVOS Y DATOS SUMINISTRADOS POR LA FIAT Y FENALCE
- Proyecto:  Prediccion del redimiento del cultivo de maiz mediante CLR y metahuristicas
- Autor:  Germán Homero Morán Figueroa

In [2]:
# Librerias y dependencias
import os
import pandas as pd
import numpy as np

## *Analisis archivo controls_3.csv*

In [7]:
controls = pd.read_csv("../Datos/Controls_3.csv")

In [8]:
controls

,ID_EVENTO,ID_PROD,FECHA_CONTROL,TIPO_OBJETIVO,TIPO_CONTROL,MOLECULA_ACTIVA
0,16,34,5/1/2013,Plagas,Químico,PROFENOFOS 50% + LUFENURON
1,16,34,5/1/2013,Malezas,Químico,Glifosato
2,16,34,5/1/2013,Enfermedades,Químico,AZIMUT
3,21,38,3/5/2013,Plagas,Químico,ATRIN
4,21,38,2/18/2013,Malezas,Químico,Atrazina
...,...,...,...,...,...,...
7585,4743,4651,5/20/2016,Enfermedades,Químico,AZOXYSTROBIN + DIFECONAZOL
7586,4744,4651,4/13/2016,Plagas,Químico,Imidacloprid
7587,4744,4651,4/18/2016,Plagas,Químico,Cipermetrina
7588,4744,4651,4/13/2016,Malezas,Químico,Atrazina
7589,4744,4651,4/18/2016,Enfermedades,Químico,Carbendazim

In [9]:
# Información del dataset
controls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7590 entries, 0 to 7589
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_EVENTO        7590 non-null   int64
 1   ID_PROD          7590 non-null   int64
 2   FECHA_CONTROL    7590 non-null   object
 3   TIPO_OBJETIVO    7590 non-null   object
 4   TIPO_CONTROL     7590 non-null   object
 5   MOLECULA_ACTIVA  7576 non-null   object
dtypes: int64(2), object(4)
memory usage: 355.9+ KB

In [13]:
# Numero de valores nulos por columna
controls.isnull().sum()

ID_EVENTO           0
ID_PROD             0
FECHA_CONTROL       0
TIPO_OBJETIVO       0
TIPO_CONTROL        0
MOLECULA_ACTIVA    14
dtype: int64

In [14]:
# Estadisticas de lso datos numericos
controls.describe()

         ID_EVENTO      ID_PROD
count  7590.000000  7590.000000
mean   2840.287747  2447.266798
std    1162.819146  1194.209981
min      16.000000    13.000000
25%    2084.000000  1843.000000
50%    2880.000000  2374.000000
75%    3655.750000  2989.000000
max    4744.000000  4873.000000