### Analisis exploratorio de datos para el archivo fertilizations_3_Maiz_limpia.csv

In [15]:
# Librerias
import pandas as pd

In [16]:

# lectura del archivo
#fertilizations = pd.read_csv("../Datos/Fertilizations_3_Maiz_limpia.csv",sep=',', error_bad_lines=False)
fertilizations = pd.read_csv("../Datos/fertilizaciones.csv",sep=',')
print("Longitud del datset: ",fertilizations.shape)
fertilizations.head(15)

Longitud del datset:  (8149, 13)

,Unnamed: 0,ID_EVENTO,ID_PROD,FECHA_FERT,ID_FER_QUI,TIPO_FERTILIZACION,CANTIDAD_PROD_FERTI,PROD_QUI,PROD_ORG,PROD_ENM,N,P,K
0,1,24.0,40.0,2/06/2013,14.0,Enmiendas,1000.0,NaN,NaN,Cal,NaN,NaN,NaN
1,2,615.0,539.0,10/07/2013,624.0,Enmiendas,200.0,NaN,NaN,Cal,NaN,NaN,NaN
2,3,955.0,156.0,3/31/2014,1270.0,Enmiendas,20.0,NaN,NaN,Escorias,NaN,NaN,NaN
3,4,955.0,156.0,3/31/2014,1270.0,Enmiendas,40.0,NaN,NaN,Yeso,NaN,NaN,NaN
4,5,1213.0,1072.0,5/22/2014,1658.0,Enmiendas,750.0,NaN,NaN,Cal,NaN,NaN,NaN
5,6,1214.0,1073.0,5/01/2015,5990.0,Enmiendas,1000.0,NaN,NaN,Cal Agricola,NaN,NaN,NaN
6,7,1920.0,692.0,5/01/2015,5969.0,Enmiendas,1000.0,NaN,NaN,Cal Dolomita,NaN,NaN,NaN
7,8,1922.0,1748.0,4/01/2015,5977.0,Enmiendas,850.0,NaN,NaN,Cal Dolomita,NaN,NaN,NaN
8,9,1923.0,1749.0,5/04/2015,5979.0,Enmiendas,250.0,NaN,NaN,Cal Dolomita,NaN,NaN,NaN
9,10,1924.0,1069.0,6/01/2015,5982.0,Enmiendas,1000.0,NaN,NaN,Cal Dolomita,NaN,NaN,NaN
10,11,1925.0,1070.0,5/04/2015,5985.0,Enmiendas,600.0,NaN,NaN,Cal Dolomita,NaN,NaN,NaN
11,12,1926.0,1074.0,5/18/2015,5988.0,Enmiendas,600.0,NaN,NaN,Cal Dolomita,NaN,NaN,NaN
12,13,1929.0,633.0,4/10/2015,5993.0,Enmiendas,800.0,NaN,NaN,Cal Agricola,NaN,NaN,NaN
13,14,1951.0,692.0,4/03/2015,5971.0,Enmiendas,1000.0,NaN,NaN,Cal Dolomita,NaN,NaN,NaN
14,15,2849.0,2563.0,2/02/2016,6264.0,Enmiendas,3.0,NaN,NaN,Cal,NaN,NaN,NaN

In [17]:
# Descripción general del datset
fertilizations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8149 entries, 0 to 8148
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           8149 non-null   int64
 1   ID_EVENTO            8144 non-null   float64
 2   ID_PROD              8116 non-null   float64
 3   FECHA_FERT           8106 non-null   object
 4   ID_FER_QUI           8106 non-null   float64
 5   TIPO_FERTILIZACION   8106 non-null   object
 6   CANTIDAD_PROD_FERTI  8106 non-null   float64
 7   PROD_QUI             7908 non-null   object
 8   PROD_ORG             631 non-null    object
 9   PROD_ENM             522 non-null    object
 10  N                    7858 non-null   float64
 11  P                    7817 non-null   float64
 12  K                    7835 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 827.8+ KB

In [18]:
# Cantidad de nuelos de cada una de las columnas
fertilizations.isnull().sum()

Unnamed: 0                0
ID_EVENTO                 5
ID_PROD                  33
FECHA_FERT               43
ID_FER_QUI               43
TIPO_FERTILIZACION       43
CANTIDAD_PROD_FERTI      43
PROD_QUI                241
PROD_ORG               7518
PROD_ENM               7627
N                       291
P                       332
K                       314
dtype: int64

*Nota* Inicilamente debido a la cantidad elevada de datos faltantes se deben eliminar las siguientes columnas del dataset:
* PROD_ORG
* PROD_ENM 

Las variables que tienen valores faltantes se debe encontrar la forma adecuada de rellenar la infromación

In [13]:
columnas_eliminar_fertilizations = ["PROD_ORG","PROD_ENM"]
df_fertilizations = fertilizations.drop(columnas_eliminar_fertilizations, axis=1)
print("Cantidad de registros del dataset: ",df_fertilizations.shape)
df_fertilizations.head(5)

Cantidad de registros del dataset:  (7512, 10)

,ID_EVENTO,ID_PROD,FECHA_FERT,ID_FER_QUI,TIPO_FERTILIZACION,CANTIDAD_PROD_FERTI,PROD_QUI,N,P,K
0,24,40,2/06/2013,14,Enmiendas,1000,NaN,NaN,NaN,NaN
1,615,539,10/07/2013,624,Enmiendas,200,NaN,NaN,NaN,NaN
2,955,156,3/31/2014,1270,Enmiendas,20,NaN,NaN,NaN,NaN
3,955,156,3/31/2014,1270,Enmiendas,40,NaN,NaN,NaN,NaN
4,1213,1072,5/22/2014,1658,Enmiendas,750,NaN,NaN,NaN,NaN